/* css reset */
* {
    margin: 0;
    padding: 0;
    /*border: 0;*/
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    /*background: transparent;*/
    line-height: 1;
    list-style: none;
    quotes: none;
    /*content: '';*/
    /*content: none;*/
}
/* reset ends here */

fieldset {
    position: relative;
    border: 1px solid #000;
}

fieldset legend {
    font-family: Verdana, Arial, sans-serif;
}

fieldset legend.adminFieldset {
    font-size: 1em;
    font-weight:bold;
    font-family: Verdana, Arial, sans-serif;
}

@font-face {
    font-family: 'KomikaAxisRegular';
    src: url('../fonts/KOMIKAX_-webfont.eot');
    src: url('../fonts/KOMIKAX_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMIKAX_-webfont.woff') format('woff'),
         url('../fonts/KOMIKAX_-webfont.ttf') format('truetype'),
         url('../fonts/KOMIKAX_-webfont.svg#KomikaAxisRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
    background-color: rgb(30,43,51);
}


body {
    background-image:url('/images/background.jpg');
    padding-top: 1px;
    min-width: 1024px;
    font-family: Verdana, Arial, sans-serif;
}


#outerNavBar {
    position: relative;
    margin-bottom: -187px;
    margin-top: 130px;
    z-index: 0;

    background: rgb(2,26,40); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(2,26,40) 0%, rgb(84,83,84) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(2,26,40)), color-stop(100%,rgb(84,83,84))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(2,26,40) 0%,rgb(84,83,84) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(2,26,40) 0%,rgb(84,83,84) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(2,26,40) 0%,rgb(84,83,84) 100%); /* IE10+ */
    background: linear-gradient(top,  rgb(2,26,40) 0%,rgb(84,83,84) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#021a28', endColorstr='#545354',GradientType=0 ); /* IE6-9 */

}


.body {
    width: 1024px;
    margin: 0px auto 0px auto;
    position: relative;
    z-index: 1;
}

#memberEditBody {
    padding: 20px;
    background-color: #E4E4E4;
}

#memberEdit p {
    margin: 5px;
}

#memberEdit fieldset, .pass_reset fieldset {
    padding: 10px 50px;
}

#memberEdit input {
    margin: 5px;
}

.fieldset_spacing {
    margin-top: 30px;
    margin-bottom: 50px;
}

.delete_pull {
    font-size: 0.7em;
}

/* members login and facebook link */
.membersRelative {
    position: relative;
    top: 46px;
    margin-left: 770px;
}
.membersPosition {
    position: absolute;
    text-align: right;
}
.members {
    color: #c01616;
    text-decoration: none;
    font-family:'KomikaAxisRegular',sans-serif;
    font-variant:small-caps;
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}
.members:hover {
    color: #0F232F;
}
.facebook {
    background-image: url("/images/facebook.png");
    height: 86px;
    position: absolute;
    right: 0px;
    top: 51px;
    width: 82px;
}
.facebook:hover {
    background-image: url("/images/facebookHover.png");
}

/* navigation bar */
.logo {
    text-align: center;
    margin: 0px auto -74px auto;
    width: 376px;
    height: 211px;
    position: relative;
    top: 20px;
    z-index: 2;
    background-image:url('/images/logo.png');
}
.nav {
    margin: 0px auto 0px auto;
    height: 40px;

    text-align: center;
    padding-top: 10px;


}
.innerNav {
    width: 1122px;
    margin: 0px auto 0px auto;
    position: relative;
    right:37px;
}
.navButtonLeft {
    margin: 11px 11px 11px 0px;
}
.navButtonRight {
    margin: 0px;
}
.navButtonLeft a, .navButtonRight a {
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    padding: 0px 9px;
    font-family: 'KomikaAxisRegular', sans-serif;
    word-spacing: -2px;
    font-style: italic;
}
.navButtonLeft a:hover, .navButtonRight a:hover {
    color: red;
    background-color: white;
    padding-bottom: 6px;

    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.navSpacer {
    padding: 0px 94px 0px 245px;
}








/* index body */
.content {
    width: 1024px;
    margin: 79px auto 0px auto;
    background-color: white;

    overflow: auto;

    -webkit-box-shadow:  8px 8px 10px 4px rgba(100, 100, 100, 1);
    box-shadow:  8px 8px 10px 4px rgba(100, 100, 100, 1);

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


#leftContent {
    float: left;
    width: 580px;
    margin: 15px 0px 0px 30px;
}
#newThisWeekTitle {
    background-image:url('/images/newThisWeekTitle.png');
    width:331px;
    height: 71px;
    position: relative;
    top: 54px;
    left: -9px;
    margin-top: -41px;
    z-index: 4;
}
.contentTitle {
    color: rgb(209,0,11);
    font-size: 3.4em;
    font-style: italic;
    font-family: 'KomikaAxisRegular', sans-serif;
    margin-bottom: 10px;
}
.smallText {
    font-size: 0.75em;
}
#newButtons {
    margin: 15px 0px 50px 12px;
}
#newButtons > span {

}
#newButtons > span > a {
    text-decoration: none;
    font-weight: none;
    font-size: 18px;
    font-style: italic;
    font-family: 'KomikaAxisRegular', sans-serif;
    color: white;
    border: 1px solid black;
    padding: 3px 15px 3px 15px;
    background-color: #D1000B;

    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#newButtons > span > a:hover {
    color: #D1000B;
    background-color: white;
    border:1px solid black;
}
#newButtonLeft {
    margin-right: 30px;
}
#newButtonCenter {
    margin-right: 30px;
}





#events {
    margin-bottom: 30px;
    background-image:url('/images/events.jpg');
    width: 335px;
    height: 247px;
}
#eventContent {
    margin-left: 9px;
    width: 269px;
    height: 192px;
    position: relative;
    top: 48px;
    left: 0px;
    overflow:auto;
}

#eventContent p a{
    text-decoration:none;
    color: rgb(221,16,16);
}
#eventContent p a:hover{
    text-decoration:underline;
}

#eventContent p {
    position:relative;
    float:left;
    width:95%;
    margin-bottom:10px;
    padding:5px;
    border:1px solid black;
    background-color:gold;
}

#rightContent {
    float: left;
    width: 340px;
    margin: 38px 0px 0px 40px;
}


#staffPicks {
    padding-top: 20px;
}
#pickRow1 {
    margin: 30px 0px 20px 0px;
}
.pickColumn1 {
    margin-right: 35px;
}
#pickRow2 {
    margin: 0px 0px 20px 0px;
}



#news {
    margin-bottom: 20px;
}
.indexNewsArticle {
    padding-top: 15px;
    padding-bottom: 25px;
}
.indexNewsTitle {
    color: rgb(163,29,29);
    font-size: 20px;
    font-family: sans-serif;
}
.indexNewsContent {
    margin: 15px 0px 15px 20px;
    width: 570px;
}
.indexNewsDate {
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
}
#more {
    text-decoration: none;
    color: rgb(221,16,16);
}
#more:hover {
    text-decoration: underline;
    color: rgb(16,16,221);
}












/* news */
#newsMainTitle {

    font-size: 50px;
    font-family: 'KomikaAxisRegular', sans-serif;
    text-align: center;
    color:#D1000B;
}

#newsMainTitle p {
    padding-top: 7px;
}

#newsBody {
    width: 900px;
    margin: 60px auto;

}
#articles {
    padding: 30px 30px 30px 30px;
}
.newsArticle {
    padding-bottom: 10px;
    padding-top: 0;
    background-position: left center;
    overflow: auto;
    border-bottom: 5px solid lightgray;
    margin-top: 10px;
}
.newsArticle h2 h3 p{
    margin-left:35px;
}
.newsArticle div { float: left; }

.datebubble {
    background-image: url("/images/datebubble.png");
    background-repeat: no-repeat;
    width: 115px;
    height: 101px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 18px 0px 0px 40px;
}

.newsTitle {
    color: rgb(221,16,16);
    font-size: 20px;
    font-family: sans-serif;
     padding-bottom: 5px;
      margin-bottom: 15px;
          margin-top: 20px;
}
.newsContent {
    margin: 15px auto 15px auto;
    width: 650px;
}
.newsArticle h3{
}
.newsTitle h2{
    margin-bottom:7px;
}

.newsDate {
    font-size: 20px;
    font-weight: bold;
}


#staffpickBody {
    padding: 10px;
    overflow: hidden;
}

#staffpickBody div {
    width: 45%;
    float: left;
    clear: none;
}

#staffpickBody p, #staffpickBody h3, #staffpickBody img {
text-align: center; font-weight: bold; margin: 10px;
}

.vertical_alignment {
    width: 100%;
    float: left;
    clear: both;
    display: block;
}

.clear-fix{
    position:relative;
    float:left;
    clear:both;
    mid-height:10px;
    width:100%;
}






/* events */
#eventsBody {
    width: 900px;
    margin: 60px auto;

}
#eventsBody .event {
    margin-left: 100px;
}

.event {
    margin-bottom: 30px;
    overflow: hidden;
}

.event div {
    width: 40%;
    float: left;
}

#eventsMainTitle {
    font-size: 50px;
    font-family: 'KomikaAxisRegular',sans-serif;
    text-align: center;
    color:#D1000B;
}
#eventsMainTitle p {
    padding-top: 7px;
}
#upcomingEvents {
    padding: 40px 30px 30px 30px;
}

.eventLocation {margin-top: 20px; }

.eventTitle {
    color: rgb(221,16,16);
    font-size: 20px;
    font-family: sans-serif;
}
.eventContent {
    margin: 15px auto 15px auto;
}
.eventDate {
    font-size: 13px;
    font-weight: bold;
    margin-left: 15px;
}
.eventStart {
    margin-top: 5px;
}
.eventEnd {

}






#login {
    background-image: url('/images/loginbg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 475px;
}
#login form {
    position: relative;
    margin: 0px auto 0px auto;
    top: 256px;
    width: 380px;
    text-align: right;
    left:8px;
}
#login form input {
        margin-top: 5px;
}

#signin{
  background-color:#D1000B;
  border:1px solid black;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:white;
  font-family:KomikaAxisRegular, sans-serif;
  margin-top:3px;
  padding:0px 5px 2px;
  font-size: 0.7em;
  position: relative;
  top:-4px;
}
#signin:hover{
  background-color:white;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#D1000B;
  border:1px solid white;
}






/* footer */
#contentSpacer {
    clear: both;
    color: white;
}





#footerAbsolute {
    position: absolute;
    width: 1024px;
}

#footerAll {
    margin: -290px 0px 0px 0px;
    position: relative;
    top: 677px;
    z-index: 2;
    clear: both;
}
.footer > h2 {
    border-bottom: 2px solid white;
    text-align: left;
    padding-left: 10px;
    color: white;
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 10px;
    font-family: sans-serif;
}



#footerLeft {
    float: left;
    width: 320px;
    margin-right: 50px;
}
#footerNavLeft {
    float: left;
    margin: 0px 0px 0px 10px;
    font-size: 1.1em;
}
#footerNavLeft, #footerNavCenter, #footerNavRight  a{
    font-variant:small-caps;
}
#footerNavCenter {
    float: left;
    margin: 0px 0px 0px 12px;
    font-size: 1.1em;
}
#footerNavRight {
    float: left;
    margin: 0px 0px 0px 12px;
    font-size: 1.1em;
}
#footerLeft > * > * > a {
    color: rgb(177,177,177);
    text-decoration: none;
    font-size: 0.8em;
    padding: 3px 5px 3px 5px;

    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#footerLeft > * > * > a:hover {
    background-color: white;
    color: red;
}
#footerLeft > * > p {
    margin-top: 10px;
}



#footerCenterRight {
    float: left;
}

#footerCenter {
    float: left;
    width: 275px;
    margin-right: 50px;
    font-variant: small-caps;
}
#hours {
    margin-top: 20px;
}
.hours {
    font-size: 0.8em;
    color: rgb(177,177,177);
    margin: 0px 0px 13px 13px;
}



#footerRight {
    float: left;
    width: 320px;
}
#contactLeft {
    margin-top: 13px;
}
#contactLeft > p {
    font-size: 0.8em;
    color: rgb(177,177,177);
    margin-left: 13px;
    width: 180px;
    float: left;
}
.address {
    margin-top: 7px;
    text-align: left;
}
.addressLower {
    margin-top: 20px;
}
.addressLower a{
    color:#b1b1b1;
}
.addressLower a:hover{
    color:#C11716;
}
#form {
    float: left;
    width: 170px;
    margin-top: 6px;
}
#copyright {
    clear: both;
    text-align: center;
    position: relative;
    top: 30px;
    margin-right: 300px;
    z-index: 1;
    color:white;
    width:100%;
    font-size: 0.3em;
}




#bridge {
    margin-top: 60px;
    background-image:url('/images/footerbridge.png');
    height: 279px;
    background-repeat: no-repeat;
}
#bridgeReflection {
    margin-top: -2px;
    background-image:url('/images/footerreflection.png');
    height: 280px;
    background-repeat: no-repeat;
}

#buildings {
    background-image:url('/images/footerbuilding.png');
    height: 137px;
    position: relative;
    top: 1px;
    background-repeat: repeat-x;
}
#buildingsReflection {
    background-image:url('/images/footerreflection2.png');
    height: 280px;
    background-repeat: repeat-x;
}

#footerBackground {
    clear: both;
    position: relative;
}
#left {

}
#right {
    margin-top: -419px;
    margin-left: 761px;
}

#searchlight {
    width: 119px;
    height: 173px;
    background-image:url('/images/searchlight.png');
    position: absolute;
    top: 38px;
    left: 580px;
}




/* WEEKLY */

#tabs .weekly img {
    margin-bottom: 20px;
}

#tabs .weekly_list {
    margin-left: 150px;
}

form .weekly {
    padding: 10px;
}

form .weekly div {
    width: 49%;
    float: left;
}

form .weekly img, form .weekly textarea {
    margin: 0px 0px 10px 0px;
}

form .weekly input[type='submit'] {
    margin-top: 10px;
}




/************** contact form *************/
.contact .field
{
    background-color: #A1B7BB;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D));
    background: -moz-linear-gradient(center top , #546A7F 0%, #5E768D 20%) repeat scroll 0 0 transparent;
    background:-o-linear-gradient(top, #546A7F 0%, #A1B7BB 20%);
    border-radius: 5px 5px 5px 5px;
    font-family: sans-serif;
    font-size: 16px;
    height: 25px;
    margin: 0 0 6px;
    padding: 5px 20px 0;
    color:#394142;
    width: 260px;
}




input:-webkit-input-placeholder {
    color:#394142;
    text-shadow: 0 -1px 0 #38506B;
}

input:-moz-placeholder {
    color:#394142;
    text-shadow: 0 -1px 0 #38506B;
}

.contact textarea{
    width:260px;
    height:100px;
    padding:12px 20px 0px 20px;
    margin:0 0 20px 0;
    background-color: #A1B7BB;
    background:-moz-linear-gradient(top, #546A7F 0%, #5E768D 20%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D));
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:0px 1px 0px #f2f2f2;
    -webkit-box-shadow:0px 1px 0px #f2f2f2;
    background:-o-linear-gradient(top, #546A7F 0%, #A1B7BB 20%);
    font-family: sans-serif;
    font-size: 16px;
    color:#394142;
    text-shadow:0px -1px 0px #334f71;



}

.contact textarea:-moz-placeholder{
    color:#394142;
    text-shadow:0px -1px 0px #38506b;
}

.contact textarea:-webkit-input-placeholder{
    /*color:#A1B2C3; original color*/
    color:#394142;
    text-shadow:0px -1px 0px #38506b;
}

#contactsubmit{
    background-color:#D1000B;
  border:1px solid black;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:white;
  font-family:KomikaAxisRegular, sans-serif;
    font-size: 17px;
    padding: 3px 15px;
    text-decoration: none;
    width:100px;
    height: 40px;
    position:relative;
    left:203px;
    vertical-align: none;
    top: -12px;
    left: 207px;
}
#contactsubmit:hover{
    background-color:white;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  color:#D1000B;
  border:1px solid white;
}

/* CSS for jquery ui timepicker addon */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

h2 {
    font-size: 1.5em;
}

#adminPullListAdminPanel{
    width:100%;
    min-height:147px;
}

.adminPullListAdminColumn fieldset{
    padding:10px;
}

.adminPullListAdminColumn select{
    width:100%;
}

.adminPullListAdminColumn{
    width:49%;
    float:left;
}

p#printouts {
    margin: 10px;
}


.pull_title .delete_pull {
    display: none;
}

.pull_title:hover .delete_pull {
    display: inline;
}

table.dataTable td, table.dataTable th {
    font-size: 0.7em;
}

#cellphone{
    display:none;
}