<div class="body">
    <div id="footerAbsolute">
        <div id="footerAll">
            <div class="footer" id="footerLeft">
                <h2 class="footerHeading">NAVIGATE</h2>
                <div id="footerNavLeft">
                    <p><a href="/">Home</a></p>
                    <p><a href="/members/">Members</a></p>
                </div>

                <div id="footerNavCenter">
                    <p><a href="/about/">About</a></p>
                    <p><a href="/news/">News</a></p>
                    <p><a href="/events/">Events</a></p>
                    <p><a href="/gallery/">Photos</a></p>

                </div>

                <div id="footerNavRight">
                    <p><a href="/weekly/#tabs-1">New This Week</a></p>
                    <p><a href="/weekly/#tabs-2">New Next Week</a></p>
                    <p><a href="/weekly/#tabs-3">New Last Week</a></p>
                    <p><a href="/staffpicks/">Staff Picks</a></p>
                </div>
            </div>



            <div id="FooterCenterRight">
                <div class="footer" id="footerCenter">
                    <h2>STORE INFORMATION</h2>
                    <div id="hours">
                        <p class="hours">Sunday - Monday 12:00pm - 7:00pm</p>
                        <p class="hours">Tuesday - Saturday 12:00pm - 8:00pm</p>
                    </div>
                    <div id="contactLeft">
                        <p class="address">327 Chatham St. West</p>
                        <p class="address">Windsor Ontario</p>
                        <p class="address">N9A 5M8</p>

                        <p class="addressLower"><a href="tel:5192549482">(519) 254-9482</a></p>
                        <p class="addressLower"><a href="mailto:shawn@rgcomics.com">shawn@rgcomics.com</a></p>
                    </div>
                </div>

                <div class="footer" id="footerRight">
                    <h2>GET IN TOUCH</h2>

                    <div id="form">
                        <form class="contact" method="post" action="/contact_email/">
                            <input class="field" type="text" name="name" placeholder="Name" />
                            <input class="field" type="text" name="email" placeholder="Email" />
                            <textarea name="message" placeholder="What's on your mind?"></textarea>
                            <input id="cellphone" type="text" name="phone" placeholder="Leave Blank If Human" autocomplete="off">
                            <input id="contactsubmit" type="submit" name="submit" value="Submit" />
                        </form>
                    </div>
                </div>


            </div>

            <div id="copyright">
                <p>&copy; Copyright 2012 Rogues Gallery Comics</p>
            </div>

        </div>
    </div>
</div>
<div id="footerBackground">
    <div id="left">
        <div id="bridge"></div>
        <div id="bridgeReflection"></div>
    </div>

    <div id="right">
        <div id="buildings"></div>
        <div id="buildingsReflection"></div>
    </div>

    <div id="searchlight"></div>
</div>