<div id="outerNavBar" class="nav"></div>
<div class="body">
    <div class="membersRelative">
        <p class="membersPosition">
            <a class="members" href="/members/">Rogue Agent Log In</a>
            <a class="members" href="/about/">About RGC</a>
            <a class="members" href="#footerAll">Contact</a>
        </p>
    </div>

    <a href="http://www.facebook.com/groups/11354045979/"><span class="facebook"></span></a>

    <div class="logo">
        <a href='/' style='display: block; width: 376px; height: 211px;'> </a>
    </div>

    <div class="nav">
        <div class="innerNav">
            <span class="navButtonLeft"><a href="/">Home</a></span>
            <span class="navButtonLeft"><a href="/weekly/">New This Week</a></span>

            <span class="navSpacer"></span>

            <span class="navButtonRight"><a href="/events/">Events</a></span>
            <span class="navButtonRight"><a href="/news/">News</a></span>
            <span class="navButtonRight"><a href="/staffpicks/">Staff Picks</a></span>
        </div>
    </div>
</div>